.navbar {
    width: 899px;
    margin-bottom: 15px;
    border-left: 1px solid #DDD;
    border-right: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
    background-color: #F5F5F5;
}

.navbar .pull-right {
    padding-right: 14px;
}

.brand {
    margin-left: 0px !important;
    color: #0088CC !important;
    font-weight: bold !important;
    border-right: 1px solid #DDD;
}

.nav li {
    border-right: 1px solid #DDD;
}

.container-fluid {
    width: 900px;
    padding-left: 0px;
}

.main {
    width: 902px;
}
.media {
    border-bottom: 1px solid #DDD;
    padding: 10px 10px 10px 20px;
    margin: 0px;
}

.media-object {
    height: 96px;
    width: 96px;
}

.left {
    border-right: 1px solid #DDD;
}

.right {
    background-color: blue;
}

.modal {
    border-radius: 0px !important;
    border: 5px solid #DDD; 
}

#sharebox_label {
    text-align: center;
}

#id_url, #id_title {
    width: 485px;
    height: 25px;
    font-size: 16px;
}

#id_category {
    height: 34px;
    font-size: 16px;
}

.light_green {
    background-color: #CCFF99 !important;
}

.light_red {
    background-color: #F2DEDE !important;
}

.grid_item {
   height: 200px;
   padding: 14px;
   border:1px solid #DDD;
   background-color: #FAFAFA;
}

.grid_row {
    margin-bottom: 15px;
}

a {
    color: #333333;
}

a:hover {
    text-decoration: none;
}

.item_link h6 {
    margin: 2px 0px 0px 0px;
    line-height: 140%;
}

.item_thumb {
    height: 90px;
}

.item_link {
    height: 60px;
}

.item_info {
    font-size: 10px;
    color: #BBB;
    font-weight: normal;
}

.label {
    background-color: #DDD !important;
    font-size: 10px;
    text-shadow: none !important;
}

.thumbnails {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.btn, .btn-small {
    border-radius: 0px;
}
