{% extends "base.html" %}
{% load humanize %}

{% block content %}
    {% for item in items %}
        {% if forloop.first or forloop.counter0|divisibleby:4 %}
            <div class="row-fluid grid_row">
        {% endif %}
        <div class="span3 grid_item">
            <div class="item_thumb">
                <a href="{{ item.url }}">
                    <div class="thumbnails" title="{{ item.title }}" style="background-image: url({{ item.image }})"></div>
                </a>
            </div>
            <div class="item_link">
                <h6><a href="{{ item.url }}" title="{{ item.title }}">
                    {{ item.title|truncatechars:"73" }}
                </a>
                <span class="item_info">({{ item.host }})</span>
            </h6>
            </div>
            <div class="item_info">
            <span class="pull-left">{{ item.date_created|naturaltime }}</span>
            <span class="pull-right label">anonymous</span>
            </div>
        </div>
        {% if forloop.counter|divisibleby:4 %}
            </div>
        {% endif %}    
    {% endfor %}  
{% endblock content %}
