{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span9 left">
            <ul class="media-list">
                {% for item in items %}
                <li class="media">
                    <div class="media-body">
                        <a href="{{ item.url }}">
                            <h4 class="media-heading">{{ item.title }}</h4>
                        </a>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="span3 left">
        </div>
    </div>
</div>

{% endblock content %}
