<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap-responsive.min.css" />
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/global.css" />
        <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/js.js"></script> 
        <meta name="testing" content="Testing" />
    </head>
    <body>
        <div class="container navbar">
            <a href="/" class="brand">IMPRESSIVE!</a>
            <ul class="nav">
                <li><a href="/images">IMAGES</a></li>
                <li><a href="/articles">ARTICLES</a></li>
                <li><a href="/videos">VIDEOS</a></li>
            </ul>
            <span class="pull-right">
                <button class="btn btn-primary btn-small">
                    <i class="icon-white icon-user"></i>
                     Register
                </button>
                <a href="#submitBox" class="btn btn-success btn-small" data-toggle="modal">
                    Submit a link!
                </a>
            </span>
        </div>
        <div class="container main">
            {% block content %}{% endblock %}
        </div>
    
        <div id="submitBox" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                <h3 id="sharebox_label">Submit a link</h3>
            <form id="sharebox_form" method="POST" action="/submit/"> {% csrf_token %}
                <div class="modal-body">
                    <p>
                        {{ sharebox_form.url }}
                        {{ sharebox_form.image }}
                        {{ sharebox_form.host }}
                    </p>
                    <p>
                        {{ sharebox_form.title }}
                    </p>
                    <p class="pull-right">
                        {{ sharebox_form.category }}
                    </p>
                </div>
                <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                    <button class="btn btn-primary">Submit</button>
                </div>
            </form>
            </div>
        </div>
    </body>
</html>
